<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>todos</title>

    <link rel="stylesheet" href="/css/default.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

<div class="content">

    <div class="todos-header">
        <h1 class="todos-title">todos</h1>
    </div>

    <div class="todos-container">
        <div class="todos-add">
            <button class="todos-add_select-all" aria-label="select all items as completed">
                <div class="todos-add_select-all_icon"></div>
            </button>
            <div class="todos-add_item-w">
                <input id="add_item" class="todos-add_item" placeholder="What needs to be done?" aria-label="add item">
            </div>
        </div>

        <div id="list" class="todos-list">
            <script>
                let xhr = new XMLHttpRequest();
                xhr.open('GET', location.href + '/getAll', true);
                xhr.setRequestHeader("Content-type", "application/json");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        let data = JSON.parse(xhr.responseText);
                        data.forEach(function (element) {
                            document.getElementById('list').innerHTML += '<div class="todos-list_item" id="' + element.id + '">\n' +
                                '     <div class="todos-list_item_checkbox todos-list_item_ready-mark">\n' +
                                '         <input type="checkbox" class="todos-list_item_checkbox_target"\n' +
                                '                           aria-label="Mark as (un)completed item"/>\n' +
                                '         <div class="todos-list_item_checkbox_visual"></div>\n' +
                                '         <div class="todos-list_item_checkbox_no_visual"></div>\n' +
                                '     </div>\n' +
                                '     <button class="todos-list_item_edit" aria-label="edit item"></button>\n' +
                                '     <button class="todos-list_item_remove" aria-label="remove item"></button>\n' +
                                '     <input class="todos-list_item_name" readonly value="' + element.name + '"/>\n' +
                                '</div>';
                        });
                    }
                };
                xhr.send();
            </script>
        </div>

        <div class="todos-actions-bar">
            <div aria-label="Count of no completed items" class="todos-actions-bar_counter" contenteditable="false">
                3 items left
            </div>
            <div class="todos-actions-bar_filters">
                <button class="todos-actions-bar_filter __active" data-filter="all"
                        aria-label="show all items">
                    All
                </button>
                <button class="todos-actions-bar_filter" data-filter="no_completed"
                        aria-label="show no completed items">
                    Active
                </button>
                <button class="todos-actions-bar_filter" data-filter="completed"
                        aria-label="show completed items">
                    Completed
                </button>
            </div>
            <div class="todos-actions-bar_clear" contenteditable="false">Clear completed</div>
        </div>

    </div>

</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const item_add = document.getElementById('add_item');
        item_add.addEventListener('keydown', (function (e) {
                if (e.keyCode === 13) {
                    let name = item_add.value;
                    if (name.length > 0) {
                        let xhr = new XMLHttpRequest();
                        xhr.open('PUT', location.href, true);
                        xhr.setRequestHeader("Content-type", "application/json");
                        xhr.onreadystatechange = function () {
                            if (xhr.readyState === 4 && xhr.status === 200) {
                                let data = JSON.parse(xhr.responseText);

                                document.getElementById('list').innerHTML +=
                                    '<div class="todos-list_item" id="' + data.id + '">\n' +
                                    '     <div class="todos-list_item_checkbox todos-list_item_ready-mark">\n' +
                                    '         <input type="checkbox" class="todos-list_item_checkbox_target"\n' +
                                    '                           aria-label="Mark as (un)completed item"/>\n' +
                                    '         <div class="todos-list_item_checkbox_visual"></div>\n' +
                                    '         <div class="todos-list_item_checkbox_no_visual"></div>\n' +
                                    '     </div>\n' +
                                    '     <button class="todos-list_item_edit" aria-label="edit item"></button>\n' +
                                    '     <button class="todos-list_item_remove" aria-label="remove item"></button>\n' +
                                    '     <input class="todos-list_item_name" readonly value="' + data.name + '"/>\n' +
                                    '</div>';
                                item_add.value = '';
                            }
                        };
                        xhr.send(JSON.stringify({"inputName": name}));
                    }
                }
            })
        );

        document.getElementById('list').addEventListener('click', function (event) {
            let target = event.target;
            let parent = event.target.parentElement;
            let id = parent.getAttribute('id');
            if (target.className === 'todos-list_item_remove') {
                let xhr = new XMLHttpRequest();
                xhr.open('DELETE', location.href, true);
                xhr.setRequestHeader("Content-type", "application/json");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        parent.remove();
                    }
                };
                xhr.send(JSON.stringify({"inputId": id}));
            }
            if (target.className === 'todos-list_item_edit') {
                let editItem = parent.getElementsByClassName('todos-list_item_name').item(0);
                editItem.removeAttribute('readonly');
                editItem.focus();
                editItem.value = '';
                editItem.value = editItem.getAttribute('value');
                editItem.addEventListener('keydown', (function (e) {
                    if (e.keyCode === 13) {
                        editItem.setAttribute('readonly', '');
                        editItem.setAttribute('value', editItem.value);
                        let xhr = new XMLHttpRequest();
                        xhr.open('POST', location.href, true);
                        xhr.setRequestHeader("Content-type", "application/json");
                        xhr.onreadystatechange = function () {
                            if (xhr.readyState === 4 && xhr.status === 200) {
                            }
                        };
                        xhr.send(JSON.stringify({"inputId": id, "inputName": editItem.getAttribute('value')}));
                    }
                }));
            }
        });
    });
</script>
</body>
</html>