<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIGN UP</title>

    <link rel="stylesheet" href="/css/default.css"/>
    <script type="text/javascript" src="webjars/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div class="content">

    <div class="sign-header">
        <h1 class="sign-title">SIGN UP</h1>
    </div>

    <div class="sign-container">
        <div id="list" class="sign-list">
            <div class="sign-list_item">
                <input placeholder="email" class="email" type="email" id="form_email" name="email">
            </div>
            <div class="sign-list_item">
                <input placeholder="password" class="password" type="password" id="form_password" name="password">
            </div>
            <div class="sign-list_item">
                <input class="submit" type="submit" id="form_submit" value="SING UP">
            </div>
            <div class="sign-list_item">
                <a class="go-to" href="signin.html">Go to SIGN IN</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        function validateEmail(email) {
            let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        function validatePassword(password) {
            return password.length > 10;
        }

        $('#form_email').on('change paste keyup', function () {
            if (!validateEmail($(this).val())) {
                $(this).css('background', 'lightpink');
            } else {
                $(this).css('background', 'lightgreen');
            }
        });
        $('#form_password').on('change paste keyup', function () {
            if (!validatePassword($(this).val())) {
                $(this).css('background', 'lightpink');
            } else {
                $(this).css('background', 'lightgreen');
            }
        });
        $('#form_submit').click(function () {
            let email = $('#form_email').val();
            let password = $('#form_password').val();
            if (validateEmail(email) && validatePassword(password)) {
                let json = {"email": email, "password": password};
                $.ajax(
                    {
                        url: '/',
                        method: 'PUT',
                        data: JSON.stringify(json),
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8"
                    })
                    .done(function () {
                        $(location).attr('href', '/signin');
                    })
                    .fail(function () {
                        alert("Регистрация невозможна!");
                    });
            }
        });
    });
</script>
</body>
</html>